
  <div class="container" style="padding-top: 90px;">
    <h2>Add Category</h2>
    <form method="post" action="/categories/add">
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
  </div>
</body>
</html>
